USE [master]
GO
/****** Object:  Database [mousedb]    Script Date: 02.06.2023 16:35:08 ******/
CREATE DATABASE [mousedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mousedb', FILENAME = N'D:\programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mousedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mousedb_log', FILENAME = N'D:\programs\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mousedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mousedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mousedb]
GO
/****** Object:  Table [dbo].[mouseTable]    Script Date: 02.06.2023 16:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mouseTable](
	[idMouse] [int] IDENTITY(1,1) NOT NULL,
	[startPosition] [nvarchar](50) NULL,
	[currentPosition] [nvarchar](50) NULL,
	[finishPosition] [nvarchar](50) NULL,
 CONSTRAINT [PK_mouseTable] PRIMARY KEY CLUSTERED 
(
	[idMouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
